html {
    /* margin: 25px 25px; */
    /* background-color: #808080; */
    background-color: silver;
    /* background-color: whitesmoke; */
    /* background-color: linen; */
    background-image: url(https://ncic.github.io/img/gui/backgroundNurniesGray.png);
    /* 
    font-family: "Roboto Mono", monospace;
    font-family: "Space Mono", monospace;
    font-family: "IBM Plex Mono", monospace;
    font-family: "IBM Plex Sans", sans-serif;
    font-family: Verdana, Arial, sans-serif;
    font-family: "MedievalSharp", cursive;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Tenor Sans", sans-serif;
    font-family: 'Montserrat', ;regular
    font-family: 'Montserrat Subrayada', ;regular
    font-family: 'Noto Sans', regular;
    font-family: 'Inconsolata', regular;
    font-family: 'VT323', regular;
 */

}

a {
    text-decoration: none;
    font-weight: normal;
    color: #cccccc;
}

a:hover {
    color: #800080;
}

img,
a img {
    margin: 0 0 12px 0;
    vertical-align: top;
    max-width: 100% auto;
    display: inline-block;
}

/* /////////////////////////// */

#masthead {
    text-align: default;
    padding: 36px 36px;
}

ul {
    display: inline-block;
    vertical-align: middle;
}

li {
    padding: 6px;
    background-color: #003300;
}

/* /////////////////////////// */

main {
    /* padding: 50px 12px; */
}

.post {padding: ›0px 12px; }

.post-title {
    font-family: 'Montserrat Subrayada', regular;
    font-family: 'Inconsolata', regular;
    font-family: 'VT323', regular;

    font-size: 22px;
    /* margin: 36px 0; */
    color: #0215be;
    text-transform: uppercase;
    /* text-transform: lowercase; */
    /* text-transform: capitalize; */
}

article.p {
    /* margin: 25px 25px; */
    padding: 25px 25px;
}

hr {
    /* margin: 0 12px; */
    /* height: 1px; */
    /* border: 0px solid #008080; */
    /* background-color: #808080; */
}

/* /////////////////////////// */

footer img:first-child {
    display: block;
    background-color: linen;
    max-width: 155px;
    background-image: url(https://ncic.github.io/img/gui/backgroundNurniesGray.png);
}

/* DEBUGGER */

#masthead {
    background-color: white;
}

main {
    background-color: green;
}

h2.post-title {
    background-color: red;
}

.post {
    background-color: purple;
}

article.p {
    background-color: teal;
}