html {
    /* margin: 25px 25px; */
    /* background-image: url(https://ncic.github.io/img/gui/backgroundNurniesGray.png); */
    background-color: silver;

    /* background-color: #323334; */


    /* background-color: #808080;
    background-color: whitesmoke;
    background-color: linen;
    font-family: "Roboto Mono", monospace;
    font-family: "Space Mono", monospace;
    font-family: "IBM Plex Mono", monospace;
    font-family: "IBM Plex Sans", sans-serif;
    font-family: Verdana, Arial, sans-serif;
    font-family: "MedievalSharp", cursive;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Tenor Sans", sans-serif;
    font-family: 'Montserrat', ;regular
    font-family: 'Montserrat Subrayada', ;regular
    font-family: 'Noto Sans', regular;
    font-family: 'Inconsolata', regular;
    font-family: 'VT323', regular; */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

a:link {
    color: blue;
    text-decoration: none;
    font-weight: normal;
}

a:visited {
    color: purple;
}

a:hover,
a:active {
    color: red;
}

img,
a img {
    margin-bottom: 12px;
    vertical-align: top;
    max-width: 100% auto;
    display: inline-block;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* header {
    background-color: linen;
} */

nav {
    padding: 12px 12px 12px 12px;
}

.nav-social-button {
    padding: 8px;
    display: inline-block;
    text-align: center;
}


.nav-social-button img {
    width: 96px;
}

/* main {margin-top: 0px;} */

article {
    padding: 12px 12px;
    color: #363636;
    margin: 36px 0;
}

article h2 {
    font-family: 'Inconsolata', regular;
    font-size: 22px;
    margin-bottom: 36px;
    text-transform: uppercase;
    /* text-transform: lowercase; */
    /* text-transform: capitalize; */
}

/* article p {padding: 25px 25px;} */

hr {
    margin: 36px 12px;
    /* height: 1px;
    border: 0px solid #808080;
    background-color: #404040; */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


footer img:first-child {
    display: block;
    background-color: linen;
    max-width: 155px;
    background-image: url(https://ncic.github.io/img/gui/backgroundNurniesGray.png);
}